$primary-color: rgb(36, 73, 42);
$secondary-color: #beee66;
$show-home-image: true;
$home-image: url("/img/background.jpg");
$background-opacity: 0.6;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: linear-gradient(rgba(93, 136, 153, 0.7), rgba(0, 0, 0, 0.7)),
        $home-image;
      background-attachment: fixed;
      background-size: cover;

    }
  }
}

//Set text color 
@function set-text-color($color){
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

//Media Query mixins

@mixin mediaSm {
  @media screen and (max-width: 500px){
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px){
    @content;
  }
}


@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: width 1170px) {
    @content;
  }
}


@mixin mediaXl {
  @media screen and (min-width: 1171px){
    @content;
  }
}
