$primary-color: rgb(36, 73, 42);
$secondary-color: #beee66;
$show-home-image: true;
$home-image: url(/img/background.jpeg);
$background-opacity: 0.6;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: linear-gradient(rgba(93, 136, 153, 0.7), rgba(0, 0, 0, 0.7)),
        $home-image;
      background-attachment: fixed;
      background-size: cover;
    }
  }
}
